@model ConfirmEmailViewModel

@{
    Layout = null;
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

<div class="container">
    <form method="post">
        
        <label>User E-Mail Address</label>
        <input type="text" class="form-control" value="Email" asp-for="Email" />

        <label>Enter the 6-Digit Code Received to Your E-Mail Address</label>
        <input type="text" class="form-control" asp-for="ConfirmCode" />
        
        <br />
        
        <button class="btn btn-primary">Activate the Account</button>
   
    </form>
</div>

